WebContent/wsdl/BookLibraryServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.booklibrary.logansrings.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.booklibrary.logansrings.com" xmlns:intf="http://service.booklibrary.logansrings.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.booklibrary.logansrings.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getBookCount">
    <complexType/>
   </element>
   <element name="getBookCountResponse">
    <complexType>
     <sequence>
      <element name="getBookCountReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAuthorBookCount">
    <complexType>
     <sequence>
      <element name="authorName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAuthorBookCountResponse">
    <complexType>
     <sequence>
      <element name="getAuthorBookCountReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getBookCountResponse">

      <wsdl:part element="impl:getBookCountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAuthorBookCountResponse">

      <wsdl:part element="impl:getAuthorBookCountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAuthorBookCountRequest">

      <wsdl:part element="impl:getAuthorBookCount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBookCountRequest">

      <wsdl:part element="impl:getBookCount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BookLibraryServiceImpl">

      <wsdl:operation name="getBookCount">

         <wsdl:input message="impl:getBookCountRequest" name="getBookCountRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBookCountResponse" name="getBookCountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAuthorBookCount">

         <wsdl:input message="impl:getAuthorBookCountRequest" name="getAuthorBookCountRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAuthorBookCountResponse" name="getAuthorBookCountResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BookLibraryServiceImplSoapBinding" type="impl:BookLibraryServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getBookCount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBookCountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBookCountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAuthorBookCount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAuthorBookCountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAuthorBookCountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BookLibraryServiceImplService">

      <wsdl:port binding="impl:BookLibraryServiceImplSoapBinding" name="BookLibraryServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/booklibrary/services/BookLibraryServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
